<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File share</title>
    <link rel="stylesheet" href="./static/css/index.css">
    <link rel="shortcut icon" href="favicon.jpg" type="image/x-jpg">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="favicon.jpg">
</head>
<body>

  <div id="root"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script src="./router.js" type="module"></script> 
  <!-- <script src="./static/js/receiver.js" type="module"></script>   -->
  <!-- <script src="./static/js/sender.js" type="module"></script>   -->
</body>
</html>